body{
    background:url(https://images.pexels.com/photos/297485/pexels-photo-297485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     background-size:1400px;
    
}
.content{
    text-align: center;
    padding: 10%;
}
