<%- include ('partials/header.ejs'); -%>
<style>
    .abc{
        text-align: center;
    }
    body{
        background-color: slategray;
    }
</style>
<div class="abc">
    <div class="container">
        <div class="jumbotron" style="margin-top: 7%;">
            <h1><strong>Landing page</strong><i class="fas fa-campground"></i></h1>
            <p>---------------------------------------------------------------</p>
            <a class="btn btn-md btn-primary" href="/campground"><strong>View all Campgrounds</strong></a>
        </div>
    </div>
    
</div>
<%- include ('partials/footer.ejs'); -%>