<html>
    <head>
        <title>BlogApp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <style>
        i.icon{
            font-size: 2em;
        }
        .container.main{
            margin-top: 7.0em;
        }
        body{
            margin-top: 6.0em;
        }
    </style>
    <div>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="book icon"></i><a href="/">Blogs</a></div>
                <a href="/" class="item">Home</a>
                <a href="/blog/new" class="item">New post</a>
            </div>
        </div>
    </div>
    <body>
        
        
    